<section class="container-fluid">

  <button type="button" class="btn btn-primary btn-block btn-group-small " style="outline: none ; width: 300px; height: 50px; margin-left: 500px; margin-top: 50px" (click)="hospital()">Add new hospital</button>

  <br>
  <div class="row justify-content-center ">
    <div class="col-5 shadow-sm pt-5 pb-5 mt-3 boxstyle" style="background-color: white">
      <h1>Queue Details </h1>

      <table class="table table-hover">
        <thead class="thead-dark">
        <tr>
          <th scope="col">PatientId</th>
          <th scope="col">QueueNo</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let c of queue"  (click)="viewPatient(c.patientId)" >
          <td>{{c.patientId}}</td>
          <td>{{c.queueId}}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="col-5 shadow-sm pt-5 pb-5 mt-3 boxstyle" style="background-color: white">
      <h1>All bed Details </h1>

      <table class="table table-hover">
        <thead class="thead-dark">
        <tr>
          <th scope="col">HospitalId</th>
          <th scope="col">HospitalName</th>
          <th scope="col">Available Bed Count</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let b of availableBedCounts">
          <td>{{b.hospitalId}}</td>
          <td>{{b.hospitalName}}</td>
          <td>{{b.count}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
