<section class="container">
  <div class="row justify-content-center">
    <div class="col-12 shadow-lg pt-5 pb-5 mt-3">
      <h1>Hospital : {{hospitalId}} , {{hospitalName}} </h1>

    </div>

    <table class="table">
      <thead class="thead-dark">
      <tr>
        <th scope="col">bedNo</th>
        <th scope="col">patientId</th>
        <th scope="col">isAdmitted</th>
        <th scope="col">isDischarged</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
      </tr>
      </tbody>
    </table>

  </div>
</section>
