<section class="container">
  <div class="row justify-content-center">
    <div style="text-align: center; background-color: white" class="col-5 shadow-lg pt-5 pb-5 mt-3">
      <h2>{{name}}</h2>
      <br>
      <div class="row">
        <div class="col-12">
          <h5>Patient Id : {{patientId}}</h5>
          <h5>Age : {{age}}</h5>
          <h5>ContactNo : {{contactNo}}</h5>
          <h5>District : {{district}}</h5>
          <h5>Admitted Date: {{admit_date}}</h5>
          <h5>Admitted By : {{admitted_by}}</h5>
        </div>
      </div>
      <br>
    </div>
  </div>
</section>
