<section class="container">
  <div class="row justify-content-center">
    <div style="text-align: center" class="col-5 shadow-lg pt-5 pb-5 mt-3">
      <h2>Thank You!!</h2>
      <br>
      <div class="row">
        <div class="col-12">
          <!--<h5>Serial Number : {{serialNo}}</h5>
          <h5>Name: {{hospitalName}}</h5>
          <h5>Age : {{bedNo}}</h5>
          <h5>ContactNo : {{bedNo}}</h5>
          <h5>District : {{bedNo}}</h5>-->
        </div>
      </div>
      <br>
    </div>
  </div>
</section>
