@import "~bootstrap/dist/css/bootstrap.min.css";

body{
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, .5)),url(~src/app/images/Coronavirus_web_1280x589.png) ;
  background-size: cover;
  background-attachment: fixed;

}
